<div id="new-book">
    <form id="new-book-form">
        <div>Title <input type="text" name="title" ng-model="newBook.title"/></div>
        <div>Author <input type="text" name="author" ng-model="newBook.author"/></div>
        <div>Rating <input type="number" name="rating" min="1" max="10" ng-model="newBook.rating"/></div>
        <div>Description <textarea name="description" cols="40" rows="5" ng-model="newBook.description"></textarea></div>
        <div><input type="submit" ng-click="addBook(newBook)"/></div>
        <div><input type="reset"/></div>
    </form>
</div>