body {
    background-image: url("/images/login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}

#login-splash {
    width: 50%;
    margin: auto;
    margin-top: 15%;
    border: 5px solid transparent;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
    padding-bottom: 3%;
}

h1 {
    font-size: 30px;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bot: 20px;
    text-align: center;
}

h4, #login-div > *, #register-div > * {
    margin: auto;
    width: 30%;
    margin-top: 20px;
    margin-bot: 20px;
    text-align: center;
}

#register-div {
    display: none;
}

p {
    text-align: center;
    margin: 0px;
}

input {
    width: 100%;
}

.button {
    margin-top: 10px;
}

.form-field-invalid {
    border: 1px solid red;
}

.invalid-label {
    display: none;
    color: red;
}