.bookRow{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 0px 10px 20px;
}

#book-info-header{
    text-align: center;
}

button {
    border-radius: 10px;
}

body {
    background-image: url("/images/books.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bookview {
    background-color: white;
}

#book-info-header {
    padding: 10px 0px 10px 10px;
    text-align: center;
}

#new-book-form {
    display: none;
}

.book-modify-form {
    display: none;
}

.book-details {
    display: none;
    padding: 20px;
}

.show-details {
}

.jumbotron {

}