<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bookkeeper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
<div class="container">
    <header>
        <h1>Bookkeeper</h1>
        <h3>
            For keeping books.
        </h3>
    </header>
    <div>
        <div class="row">
            <div class="row">
                <div>
                    <img src="http://placehold.it/50x50" class="img-rounded" alt="placeholder" width="50" height="50">
                </div>
                <div class="container">
                    <div>
                        <h4>Title</h4>
                        <div>Author</div>
                    </div>
                    <div>
                        <div>Description</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="row">
                <img src="http://placehold.it/50x50" class="img-rounded" alt="placeholder" width="50" height="50">
                <div class="container">
                    <div>
                        <h4 class="col-md-4">Title</h4>
                        <div class="col-md-4">Author</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">Description</div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <img src="http://placehold.it/50x50" class="img-rounded" alt="placeholder" width="50" height="50">
                <div class="container">
                    <div>
                        <h4 class="col-md-4">Title</h4>
                        <div class="col-md-4">Author</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">Description</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>