<!DOCTYPE html>
<html>
<head>
    <title>Login to Bookkeeper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/login.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
</head>
<body>
<div class="container">
    <div id="login-splash">
        <h1>Welcome to Bookkeeper</h1>
        <div id="login-div">
            <form name='login-form' action='/login' method='POST'>
                <div class="center-align">
                    <p>login</p>
                    <input type='text' name='username' value='' required="required"/>
                </div>
                <div>
                    <p>pass</p>
                    <input type='password' name='password' required="required"/>
                </div>
                <input name="submit" class="button" id="login-btn" type="submit" value="Login"/>
            </form>
        </div>
        <h4 id="show-register-btn">Not a member?</h4>
        <div id="register-div">
            <p>Register then!</p>
            <form name='register' id="register-form" method="post" action="#">
                <div>
                    <p>username</p>
                    <input type='text' id="reg_name" name='username' value='' required="required"/></div>
                    <p class="invalid-label" id="p-name-error"></p>
                <div>
                    <p>email</p>
                    <input id="reg_email" type='email' name='email' required="required"/></div>
                    <p class="invalid-label" id="p-email-error"></p>
                <div>
                    <p>pass</p>
                    <input id="reg_password" type='password' name='password' required="required"/></div>
                    <p class="invalid-label" id="p-pass-error"></p>
                <div>
                    <p>confirm pass</p>
                    <input type='password' id="reg_cpassword" name='confirm-password' required="required"/>
                    <p class="invalid-label" id="p-cpass-error"></p>
                </div>
                <input name="submit" class="button" type="button" id="register-btn" value="Register"/>
                <input name="cancel" class="button" type="button" id="cancel-btn" value="Cancel"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
